* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  color: dimgray;
  line-height: 1.5;
}

main h2 {
  color: dimgray;
  border-bottom: 1px solid dimgray;
  text-transform: uppercase;
  font-weight: 200;
}

.row h2 {
  font-weight: 700;
}

small {
  text-transform: uppercase;
}

body,
header > section,
header > section > article,
details > ul,
form,
figcaption,
main,
main > section,
main > section > article {
  display: flex;
  flex-direction: column; 
}

header {
  background-image: url(/img/beach-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
