@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,800;0,900;1,200;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');
// Screen Sizes
$mobileScreen  : 200px;
$tabletScreen  : 600px;
$desktopScreen : 1000px;

// Colors
$defaultColor  : #EC523F;
$seaGreen      : #1ABC9C;
$orange        : #E67E22;
$blue          : #3498D8;
$green         : #2ECC71;

// FontFamily
$fontFamily    : "Open Sans", sans-serif;

