@media (min-width: $desktopScreen) {
  .row {
      > article {
          h2 {
              font-size: 30px;
              font-weight: 600;
          }

          p {
              font-size: 18px;
          }
      }
  }
  
  // TEAM GALLERY 
  .team-gallery {

      figure:hover figcaption {
          bottom: 0%;
          height: 100%;
      }

      figcaption {
          bottom: -20%;
      }
  }

  // SKILLS
  .skills {
      li {
          height: 6vh;
      }
  }
  
  // CONTACT
  .contact {     

      input {
          height: 7vh;
      }
  }

  p {
      font-size: 14px;
  }

  [type="submit"] {
      font-size: 20px;
  }
}