@media (min-width: $mobileScreen) {
  main {
    row-gap: 10vh;
    padding-top: 5vh;
  }

  nav > ul {
    display: none;
  }

  header {
      height: 40vh;
      > section {
        align-items: center;
        row-gap: 4vh;
        background-color: rgba(50, 50, 50, 0.59);
        height: 100%;
        width: 100%;
        > ul {
            display: none;
        }
        
        > article {
              align-items: center;
              color: whitesmoke;
              row-gap: 2vh;
          }
      }

    article > a {
        color: whitesmoke;
        background-color: $defaultColor;
        border-radius: 5px;
        padding: 3%;
        font-weight: 400;
        text-align: center;
        width: 50%;
    }
  }
  
  img {
    width: 30%;
  }

  %title {
      @include flexboxColumn(2vh);
      @include flexCenter; 

    > p {
        text-align: center;
    }
  }

  %content {
      @include flexboxColumn(3vh);
      align-items: center;
  }

  .row {
      align-items: center;
      row-gap: 5vh;

      > article,
      .skills > article {
          @extend %title; 
      }

      > section,
      .skills {
        @include flexboxColumn(3vh);
        align-items: center;
      }     
  }
  
  // SERVICES
  .services {
    > section {
        @include flexboxColumn(3vh);
        align-items: center;

        > aside:nth-child(1) {
            background-color: $seaGreen;
        }

        > aside:nth-child(2) {
            background-color: $orange;
        }

        > aside:nth-child(3) {
            background-color: $blue;
        }

        > aside:nth-child(4) {
            background-color: $green;
        }
    }
    
      aside {
          min-height: 45vh;
          width: 90%;
          @include flexboxColumn(2vh);
          @include flexCenter;
    
          p {
            color: whitesmoke;
            text-align: center;
            width: 60%;
            font-size: 17px;
          }
    }
    
      h4 {
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 1vh;
        color: whitesmoke;
        font-size: 20px;
        font-weight: 400;  
      }
    
      i {
        display: none;
      }
  }
  
  // PORTFOLIO
  .portfolio {
    > section {
        width: 93%;
        row-gap: 3vh;
    }

    figcaption {
      display: none;
    }

    img {
        width: 100%;
    }
  }

  // TEAM

  // TEAM - GALLERY

  // TEAM - SKILLS
  .skills {
      @include flexboxColumn(5vh);
      > article {
          @extend %title;
          > p {
            font-style: italic;
            font-size: 14px;
            width: 98%
          }
      }

      aside {
          width: 96%
      }

      > section,
      aside {
          @extend %content;
      }

      h3 {
        font-size: 18px;
        font-style: italic;
        text-transform: uppercase;
        color: gray;
        font-weight: 500;
      }

      ul {
          @include flexboxColumn(2vh);
          width: 96%;
      }

      li {
          display: flex;
          width: 100%;
          height: 5vh;
          background-color: gainsboro;
      }

      li:first-child > h6 {
          width: 90%;
      }

      li:nth-child(3) > h6 {
          width: 70%;
      }

      h6 {
          display: flex;
          align-items: center;
          width: 80%;
          height: 100%;
          background-color: $defaultColor; 
          font-size: 16px;
      }

      small {
          padding-left: 2vh;
          text-transform: uppercase;
          color: whitesmoke;
      }
  }

  // CONTACT
  .contact {
      > section > article {
          @include flexboxColumn(2vh);
          width: 90%;
          font-size: 14px;
      }

      > section > section {
          width: 90%
      }

      ul {
          @include flexboxColumn(1vh);
          color: dimgray;
          a {
              color: $defaultColor;
          }
      }

      li {
          display: flex;
          column-gap: 1vh;
          font-size: 12px;
        }
    }
}

form {
    width: 100%;
    row-gap: 2vh;
}

input {
    height: 6vh;
    border: 1px solid lightgray;
}

::placeholder {
    padding: 2vw;
    color: darkgray;
}

textarea {
    border: 1px solid lightgray;
    height: 15vh;
    resize: none;
}

[type= "submit"] {
    background-color: $defaultColor;
    color: whitesmoke;
    border: 3px solid transparent
}