@media (min-width: $tabletScreen) {
  // HEADER
  header {
      > section {
          > ul {
              display: flex;
              list-style-type: none;
              padding-top: 5%;
              column-gap: 2vw;
          }

          > article {
              height: 100%;
          }
      }

      article > a {
          border: 2px solid $defaultColor;
          transition: .6s;

          &:hover {
              background-color: transparent;
              color: whitesmoke;
          }
      }

      li[class*="envelope"],
      li [class*="brands"] {
          border: 1px solid whitesmoke;
          height: 4vh;
          width: 4vh;
          display: flex;
          @include flexCenter;  
          background-color: white;
          border-radius: 50%;
          color: black;
          transition: .6s;

          &:hover {
              background-color: transparent;
              color: whitesmoke;
          }
      }
  }  

  details li > a {
      border: 0px none transparent;      
  }
  
  // CONTACT
    .contact {
        > section {
            width: 90%;
            flex-direction: row;
            column-gap: 4vw;
            align-items: flex-start; 
        }

        input {
            height: 4vh;
        }

        textarea {
            height: 12vh;
        }

        [type="submit"] {
            border: 3px solid $defaultColor;
            transition: .6s;

            &:hover {
                background-color: transparent;
                color: $defaultColor;
                cursor: pointer;
            }
          }
    }
}